CIFRAS_ARROZ
Clasificacion
DataSet_prueba
DataSet_Rainf
DataSet_SoilM
DataSet_Temp
DataSet_VegIndex
DatosPrecipitacion
DatosSuelos
DatosTemperatura
Elevations
heavyRain-master
ImagenesLandsat
Maps
PCA
Report
shapes
.RData
.Rhistory
UPLOAD_APP
PASSWD.txt